<mat-card class="the-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" aria-label="Home icon" class="header-image">access_time</mat-icon>
    </div>

    <mat-card-title>Check date/time in GMT</mat-card-title>
    <mat-card-subtitle>Choose a method</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="button-row">
      <button mat-stroked-button [routerLink]="['/generic-store']">Generic store</button>
      <button mat-stroked-button>NGXS</button>
    </div>
  </mat-card-content>
</mat-card>
